# set SNR type:
# 77 = only L2C satellites
# 88 = all data
# 99 = only data between 5 and 30 degree elevation angles
snrtype=88

#choose observable: S1 or S2
obs=S1
#
# azimuth/elevation resolution for plots
azincr=10
elincr=5

# azimuth/elevation resolution for timeseries
ts_azincr=60
ts_elincr=45

